.App {
  text-align:center;
}

.App-header {
  background-color: rgb(0, 0, 0);
  height: 70px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 40px;
  margin: 10px;
}

.App-container {
  
  height:100%;
}

.itemnumber {
  color: white;
  font-size: 26px;
}

.destroy {
  text-decoration: none;
  font-size: 36px;
  color: red;
  font-weight: bold;
  float:right;
  display:none;
}

.itemcontent {
  word-break: break-all;
  white-space: normal;
}

li:hover>.destroy {
  display: inline-block;
  margin: 4px;
}

ul {
  display: flex;
  flex-flow: column nowrap;
  margin: 0;
  padding: 0;
  align-items: center;
}

.itemcontent {
  text-decoration: none;
  font-family: monospace;
  font-size: 21px;
  font-weight: bold;
  margin: 0px 5px 0px 30px;
  display: inline-block;
}

.itemCounter {
  margin: 30px auto;
  width: 50%;
  position:relative;
}

.clearAll {
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.57);
  color: white;
  padding: 10px 20px;
  border-radius: 11px;
  position: absolute;
  right: 0;
  top: -5px;
}

li {
  width:50%;
  min-width:350px;
  text-align:left;
  padding:15px;
  list-style-type: none;
  background-color: #813772;
  color: #fff;
  margin-bottom: 30px;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,.14), 0 3px 3px -2px rgba(0,0,0,.12), 0 1px 8px 0 rgba(0,0,0,.2);
}

form {
  padding-top: 5vh;
}

.searchbar {
  width: 50%;
  max-width: 400px;
  padding: 8px 15px;
  font-size: 17px;
  border-radius: 50px 0px;
  color:white;
  border-radius: 50px 0px;
  background-color: #0000009e;
  border: none;
}

.submitbutton {
  text-decoration: none;
  background-color: #0404049c;
  padding: 12px 30px;
  color: white;
  border-radius: 50px 0px;
  font-size: 14px;
}

input:checked+label:before {
  background-color: #ffffff4f;
}

label {
  display: inline-block;
  position: relative;
  padding: 15px 23px 15px 24px;
  border: 3px solid #fff;
  border-radius: 100px;
  color: #60ff00;
  background-color: #6a8494;
  box-shadow: 0 0 20px rgba(0, 0, 0, .2);
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
  transition: background-color .2s, box-shadow .2s;
}

label::before {
  content: '';
  display: block;
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 10px;
  width: 32px;
  border: 3px solid #fff;
  border-radius: 100px;
  transition: background-color .2s;
}

label:hover, input:focus + label {
  box-shadow: 0 0 20px rgba(0, 0, 0, .6);
}

input:checked + label {
  background-color: #ab576c;
}


.toggletask {
  display: none;
}

@media screen and (max-width: 670px) {
  .itemCounter {
    display:flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width:80%;
  }

  li {
    min-width: 310px;
  }
}